<form>

    <div class="nuevo-turno">
        <h2>Nuevo turno</h2>
        
        <div class="input-row">
            <mat-form-field appearance="outline">
                <mat-label>Cobertura</mat-label>
                <input matInput placeholder="Cobertura" required>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>Especialidad</mat-label>
                <input matInput placeholder="Especialidad" required>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>Profesional</mat-label>
                <input matInput placeholder="Profesional" required>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>Fecha</mat-label>
                <input type="date" matInput placeholder="Fecha" required>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>Hora</mat-label>
                <input type="time" matInput placeholder="Hora" required>
            </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="notas">
            <mat-label>Notas</mat-label>
            <textarea matInput placeholder="Escriba aquí su nota" required></textarea>
        </mat-form-field>

        <div class="buttons">
            <button mat-button type="button" mat-dialog-close>Cancelar</button>
            <button mat-raised-button color="primary" type="submit">Aceptar</button>
        </div>
        
    </div>

</form>
