<!-- <h2>Registrar paciente</h2>
<form (ngSubmit)="registrarPaciente()">
  <div class="name-fields">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="paciente.nombre" name="nombre" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Apellido</mat-label>
      <input matInput [(ngModel)]="paciente.apellido" name="apellido" required />
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Correo electrónico</mat-label>
    <input matInput type="email" [(ngModel)]="paciente.email" name="email" required />
  </mat-form-field>

  <div class="password-fields">
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" [(ngModel)]="paciente.password" name="password" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirmar contraseña</mat-label>
      <input matInput type="password" [(ngModel)]="confirmPassword" name="password" required />
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>DNI</mat-label>
    <input matInput type="number" [(ngModel)]="paciente.dni" name="dni" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Fecha de nacimiento</mat-label>
    <input matInput type="date" [(ngModel)]="paciente.fecha_nacimiento" name="fecha_nacimiento" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Teléfono de contacto</mat-label>
    <input matInput type="tel" [(ngModel)]="paciente.telefono" name="telefono" />
  </mat-form-field>

  <div class="buttons">
    <button mat-button type="button" (click)="resetFormulario()">Cancelar</button>
    <button mat-raised-button color="primary" type="submit" >Registrar paciente</button>
  </div>
</form>
 -->


 <h2>Registrar paciente</h2>
<form #pacienteForm="ngForm" (ngSubmit)="registrarPaciente(pacienteForm)">
  <div class="name-fields">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="paciente.nombre" name="nombre" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Apellido</mat-label>
      <input matInput [(ngModel)]="paciente.apellido" name="apellido" required />
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Correo electrónico</mat-label>
    <input matInput type="email" [(ngModel)]="paciente.email" name="email" required />
  </mat-form-field>

  <div class="password-fields">
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" [(ngModel)]="paciente.password" name="password" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirmar contraseña</mat-label>
      <input matInput type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required />
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>DNI</mat-label>
    <input matInput type="number" [(ngModel)]="paciente.dni" name="dni" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Fecha de nacimiento</mat-label>
    <input matInput type="date" [(ngModel)]="paciente.fecha_nacimiento" name="fecha_nacimiento" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Teléfono de contacto</mat-label>
    <input matInput type="tel" [(ngModel)]="paciente.telefono" name="telefono" />
  </mat-form-field>

  <div class="buttons">
    <button mat-button type="button" (click)="resetFormulario()">Cancelar</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="pacienteForm.invalid">Registrar paciente</button>
  </div>
</form>
