

<!-- Header para usuarios no logueados -->
<app-header-welcome *ngIf="!loggedIn"></app-header-welcome>

<!-- Header para usuarios logueados -->
<app-header-main *ngIf="loggedIn"></app-header-main>

<!-- Contenedor para el contenido principal -->
<div class="main-content">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<app-footer></app-footer>



















<!-- 
<app-header-welcome></app-header-welcome>



<div class="main-content">
    
    <router-outlet></router-outlet>
</div>


<app-footer></app-footer>
 -->