


















 <h2>Registrarse</h2>
<form [formGroup]="registroForm" (ngSubmit)="registrarUsuario()">
  <div class="name-fields">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="apellido" required />
    </mat-form-field>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Correo electrónico</mat-label>
    <input matInput type="email" formControlName="email" required />
  </mat-form-field>
  <div class="password-fields">
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirmar contraseña</mat-label>
      <input matInput type="password" formControlName="confirmPassword" required />
    </mat-form-field>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>DNI</mat-label>
    <input matInput type="number" formControlName="dni" required />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Fecha de nacimiento</mat-label>
    <input matInput type="date" formControlName="fecha_nacimiento" required />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Teléfono de contacto</mat-label>
    <input matInput type="tel" formControlName="telefono" />
  </mat-form-field>
  <div class="buttons">
    <button mat-button type="button" mat-dialog-close>Cancelar</button>
    <!-- Botón Registrarse, deshabilitado mientras el formulario se esté enviando -->
    <button mat-raised-button color="primary" type="submit" [disabled]="!registroForm.valid || isSubmitting">Registrarse</button>
  </div>
</form>
