<div>
  <h2>Gestión de Agenda</h2>
  
  <!-- Date Picker para seleccionar la fecha -->
  <mat-form-field appearance="fill">
    <mat-label>Selecciona la Fecha</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="cargarHorarios()">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <h3>Horarios Disponibles para el {{ selectedDate | date: 'dd/MM/yyyy' }}</h3>
  <table mat-table [dataSource]="obtenerHorariosPorFecha(selectedDate)" class="mat-elevation-z8">
    <ng-container matColumnDef="rango">
      <th mat-header-cell *matHeaderCellDef> Rango Horario </th>
      <td mat-cell *matCellDef="let horario"> {{ horario.rango }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['rango']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['rango'];"></tr>
  </table>

  <!-- Formulario para agregar nuevo horario -->
  <h3>Agregar Nuevo Horario</h3>
  <form [formGroup]="agendaForm" (ngSubmit)="agregarHorario()">
    <mat-form-field appearance="fill">
      <mat-label>Especialidad</mat-label>
      <mat-select formControlName="especialidad" required>
        <mat-option *ngFor="let especialidad of especialidades" [value]="especialidad.id">{{ especialidad.descripcion }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Hora de Inicio</mat-label>
      <input matInput type="time" formControlName="horaInicio" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Hora de Fin</mat-label>
      <input matInput type="time" formControlName="horaFin" required>
    </mat-form-field>

    <div class="button-group">
      <button mat-raised-button color="primary" type="submit">Agregar Nuevo Horario</button>
      <button mat-button type="button" (click)="volver()">Volver</button>
    </div>
  </form>
</div>