<div class="welcome-wrapper">
    <div class="welcome-container">
        <!-- <h1>Bienvenido a la clínica virtual</h1> -->
        <div class="welcome-info">
            <p>Inicia sesión para acceder a las funcionalidades principales</p>
            <p>Como paciente registrado puedes:</p>
            <ul>
                <li>Solicitar turnos</li>
                <li>Ver tus turnos agendados</li>
                <li>Modificar tus datos personales</li>
            </ul>
        </div>
    </div>

    <img class="welcome-logo" src="assets/icons/logoclinica.png" alt="Logo Clínica Virtual">
</div>
