<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <mat-form-field appearance="outline">
      <mat-label>DNI</mat-label>
      <input matInput type="text" id="usuario" [(ngModel)]="usuario" name="usuario" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" id="password" [(ngModel)]="password" name="password" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</div>