<footer class="clinic-footer">
    <div class="footer-container">
      <div class="footer-section">
        <h4>Datos de la clínica</h4>
        <p>Dirección: Calle Falsa 123, Ciudad, País</p>
        <p>Teléfono: +123 456 7890</p>
        <p>Correo electrónico: <a href="mailto:contacto@clinicavirtual.com">contacto(asd)clinicavirtual.com</a></p>
      </div>
      
      <div class="footer-section">
        <h4>Síguenos en redes sociales</h4>
        <div class="social-icons">
          <a href="#" target="_blank" class="social-icon">
            <img src="assets/icons/facebook-icon.png" alt="Facebook">
          </a>
          <a href="#" target="_blank" class="social-icon">
            <img src="assets/icons/twitter-icon.png" alt="Twitter">
          </a>
          <a href="#" target="_blank" class="social-icon">
            <img src="assets/icons/instagram-icon.png" alt="Instagram">
          </a>
        </div>
      </div>
    </div>
  </footer>
  