<footer class="footer-clinic">
    <div class="footer-content">
        <div class="clinic-info">
            <h4>Clínica virtual</h4>
            <p>3240 25 de Mayo, Santa Fe, Argentina</p>
            <p>+54 342 409 0183</p>
            <p><a href="ejemplo">clinicavirtual()gmail.com</a></p>
        </div>
      
        <div class="social-media">
            <h4>Síguenos en redes sociales</h4>
            <div class="social-icons">
                <a href="https://www.facebook.com/?locale=es_LA" target="_blank" class="social-icon">
                    <img src="assets/icons/facebook.svg" alt="Facebook">
                </a>
                <a href="https://x.com/home?lang=es" target="_blank" class="social-icon">
                    <img src="assets/icons/Twitter.png" alt="Twitter">
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="social-icon">
                    <img src="assets/icons/instagram.svg" alt="Instagram">
                </a>
            </div>
      </div>
    </div>
  </footer>
  