.footer-clinic {
    background-color: #70bd7d; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    padding: 15px 0; /* Espaciado interno */
    text-align: center; /* Alinear texto al centro */
    width: 100%; /* Asegura que ocupe el ancho completo */
    position: relative; /* O absolute, dependiendo del contexto */
    top: 483px; /* Ajusta el valor según lo que necesites */
    height: 20vh;
  }
  
  .footer-content {
    display: flex; /* Usar Flexbox para organizar los elementos */
    justify-content: space-between; /* Espacio entre secciones */
    padding: 0 20px; /* Espaciado interno */
  }
  
  .clinic-info{
    flex: 1; /* Cada sección ocupa el mismo espacio */
    padding: 0 10px; /* Espaciado interno en las secciones */
  }

  .social-media{
    margin-top: 25px;
    flex: 1; /* Cada sección ocupa el mismo espacio */
    padding: 0 10px; 
  }
  
  .social-icons {
    display: flex; /* Usar Flexbox para los iconos */
    justify-content: center; /* Centrar iconos */

  }
  
  .social-icon img {
    width: 24px; /* Ajustar tamaño de los iconos */
    margin: 0 15px; /* Espaciado entre iconos */
    margin-top: 5px;
  }
  