.footer-clinic {
  background-color: #70bd7d; /* Color de fondo */
  color: #ffffff; /* Color del texto */
  padding: 15px 0; /* Espaciado interno */
  text-align: center; /* Alinear texto al centro */
  width: 100%; /* Asegura que ocupe el ancho completo */
  position: relative; /* Puedes cambiar a fixed o absolute */
  bottom: 0; /* Mantener en la parte inferior */
  height: 20vh; /* O un valor más acorde con tu diseño */
  margin-top: auto; /* Asegura que no se superponga con contenido anterior */
}

.footer-content {
  display: flex; /* Usar Flexbox para organizar los elementos */
  justify-content: space-between; /* Espacio entre secciones */
  padding: 0 20px; /* Espaciado interno */
}

.clinic-info, .social-media {
  flex: 1; /* Cada sección ocupa el mismo espacio */
  padding: 0 10px; /* Espaciado interno en las secciones */
}

.clinic-info{
  margin-top: 25px;
}

.social-media {
  margin-top: 25px; /* Margen superior */
}

.social-icons {
  display: flex; /* Usar Flexbox para los iconos */
  justify-content: center; /* Centrar iconos */
}

.social-icon img {
  width: 24px; /* Ajustar tamaño de los iconos */
  margin: 0 15px; /* Espaciado entre iconos */
  margin-top: 5px;
}


a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  color:blue
}